{% extends 'layouts/admin.njk' %}
{% import "parts/section-chefs.njk" as section %}

{% block head %}
    <title>FOODFY</title>
{% endblock %}

{% block content %}
    
    <div class="wrapper">
        <h1>Gerenciar Chefs</h1>
        {% if userAdmin %}
            <a href="/admin/chefs/create">Novo</a>
        {% endif %}
        
    </div>

    {{section.chefs('chef', '', chefs)}}

{% endblock content %}