<link 
    rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
>
<link 
    rel="stylesheet" 
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
>
<link 
    rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
>


<link rel="stylesheet" href="/styles/styles.css">


{# ADMIN #}
<link rel="stylesheet" href="/styles/chefFields.css">
<link rel="stylesheet" href="/styles/createRecipe.css">
<link rel="stylesheet" href="/styles/editPageAdm-chef.css">
<link rel="stylesheet" href="/styles/headerAdm.css">
<link rel="stylesheet" href="/styles/headerSession.css">
<link rel="stylesheet" href="/styles/photosUpload.css">
<link rel="stylesheet" href="/styles/session.css">
<link rel="stylesheet" href="/styles/showPageAdm-Chef.css">
<link rel="stylesheet" href="/styles/showPageAdm-recipe.css">
<link rel="stylesheet" href="/styles/usersPage.css">


{# SITE #}
<link rel="stylesheet" href="/styles/aboutPage.css">
<link rel="stylesheet" href="/styles/footer.css">
<link rel="stylesheet" href="/styles/headerSite.css">
<link rel="stylesheet" href="/styles/homePage.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/notFoundPage.css">
<link rel="stylesheet" href="/styles/searchPage.css">

{# ADMIN & SITE #}
<link rel="stylesheet" href="/styles/showPage.css">
<link rel="stylesheet" href="/styles/cardsChefs.css">
<link rel="stylesheet" href="/styles/cardsRecipes.css">

